*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}





.bodyMain{
  background: url("./image/login Background.png") fixed center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.bodyLogin{
  background: url("./image/login Background.png") fixed center no-repeat;
  background-size: cover;
  overflow: hidden;
}
#h1SEO{
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.notSelectable{
  user-select: none;
}



.grid{
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  z-index: 10;
  user-select: none;
}

.grid div {
  height: 4vh;
  width: 4vh;
  text-align: center;
  font-size: 3.5vh;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  z-index: 11;
  user-select: none;
}

.bomb{
  background-color: orange;
}

.button{
  background-color: transparent;
  text-decoration: none;
}
.imageFlag{
  height: 4vh;
  position: relative;
  animation: fall 0.2s forwards;
}
.bombimg{
  height: 3.6vh;
  top: 0.2vh;
  position: relative;
  animation: bombEXPLODE 0.5s;
  z-index: 13;
}
@keyframes fall {
  from {
    transform: translateY(-20px);
  }
  to{
    transform:translateY(0);
  }
}
@keyframes bombEXPLODE{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

















@keyframes animChecked{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.green{
  background-color: limegreen;
  filter: contrast(80%);
}
.lightGreen{
  background-color: lightgreen;
  filter: contrast(80%);
}
.gray{
  background-color: tan;
  filter: contrast(90%);
  animation: animChecked 0.1s;
}
.silver{
  background-color: wheat;
  filter: contrast(90%);
  animation: animChecked 0.1s;
}


















#interfaceVictory{
  user-select: none;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 39.5%;
  border: solid gray 2px;
  border-radius: 1vh;
  height: 17,5vw;
  width: 20vw;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
}
#victoryButton{
  background-color: rgba(255,250,250, 0.2);
  font-size: 40px;
  border: solid gray 2px;
  width: 15vw;
  height: 6vw;
  border-radius: 5%;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
}
#interfaceLose{
  user-select: none;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 39.5%;
  border: solid gray 2px;
  border-radius: 1vh;
  height: auto;
  width: 20vw;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
}
#loseButton{
  background-color: rgba(255,250,250, 0.2);
  font-size: 40px;
  border: solid gray 2px;
  width: 15vw;
  height: 6vw;
  border-radius: 5%;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
}



.hidden{
  visibility: hidden;
  z-index: 0;
}
.visible{
  visibility: visible;
  z-index: 100;
}






.data1{
  color: rgb(0,0,0);
}
.data2{
  color: rgb(24,24,24);
}
.data3{
  color: rgb(48,48,48);
}
.data4{
  color: rgb(72,72,72);
}
.data5{
  color: rgb(96,96,96);
}
.data6{
  color: rgb(112,112,112);
}
.data7{
  color: rgb(136,136,136);
}
.data8{
  color: rgb(160,160,160);
}





/*
LL          LLLLLL      LLLLLL    LL  LL    LL
LL        LL      LL  LL              LLL   LL
LL        LL      LL  LL          LL  LLLL  LL
LL        LL      LL  LL    LLLL  LL  LL LL LL
LL        LL      LL  LL      LL  LL  LL  LLLL
LL        LL      LL  LL      LL  LL  LL   LLL
LLLLLLLL    LLLLLL      LLLLLL    LL  LL    LL
*/
#loginRegisterTitle{
  text-align: center;
  position: relative;
  top: 5vh;
}
#loginRegisterInterface{
  position: relative;
  left: 37.5vw;
  top: 10vh;
  background-color: tan;
  border-radius: 3%;
  width: 25vw;
  height: 57vh;
  overflow: hidden;
  border: black 0.25vh solid;
}
#navLoginRegister{
  position: relative;
  top: 2vh;
  left: 4.5vw;
  left: center;
  border: black 0.25vh solid;
  border-radius: 5px;
  width: 16vw;
  height: 6vh;
  display: inline-block;
  padding: 0px;
  background-color: wheat;
  z-index : 22;
  overflow: hidden;
}
#navLoginSelected{
  position: absolute;
  border-radius: 5px;
  left: 0vw;
  top: 0px;
  width: 8vw;
  height: 5.6vh;
  background-color: limegreen;
  z-index: 21;
}
#pLogin{
  user-select: none;
  font-size: 175%;
  position: absolute;
  top: 1vh;
  left: 2vw;
  margin: 0px;
  padding: 0px;
  z-index: 23;
}
#loginClick{
  position: absolute;
  border-radius: 5px;
  left: 0vw;
  top: 0px;
  width: 8vw;
  height: 5.6vh;
}
#pRegister{
  user-select: none;
  font-size: 175%;
  position: absolute;
  top: 1vh;
  right: 1.25vw;
  margin: 0px;
  padding: 0px;
  z-index:23;
}
#registerClick{
  position: absolute;
  border-radius: 5px;
  left: 7.9vw;
  top: 0px;
  width: 8vw;
  height: 5.6vh;
}
.textInput{
  font-size: 3vh;
  position: relative;
  display: block;
  background-color: rgba(245, 222, 179, 0.712);
  border-radius: 5px;
  border: none;
  height: 5vh;
  width: 21vw;
}
.textInput:focus{
  background-color: wheat;
  border: solid transparent;
}
.labelLOG{
  position: relative;
  display: block;
  font-size: 3vh;
  left: 1vw;
  margin-top: 3vh;
}
.labelCookie{
  position: relative;
  font-size: 3vh;
  left: 1vw;
  margin-top: 3vh;
}
.submitButton{
  background-color: rgba(245, 222, 179, 0.712);
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  top: 3vh;
  font-size: 3vh;
  width: 21vw;
}
#loginDiv{
  position: absolute;
  display: inline-block;
  z-index: 20;
  border-radius: 2%;
  padding: 10px;
  width: 20vw;
  top: 12vh;
  left: 1.5vw;
  transition: left 0.3s ease;
}
#registerDiv{
  position: absolute;
  display: inline-block;
  z-index: 20;
  border-radius: 2%;
  padding: 10px;
  width: 20vw;
  top: 12vh;
  left: 26vw;
  transition: left 0.3s ease;
}
.bodyLogin input[type="checkbox"]{
  height: 5vh;
  width: 5vh;
  position: relative;
  left: 1vw;
  top: 0.5vw;
  border: black solid 2px;
}

















/*
MM          MM  MMMMMMMMMM  MM          MM  MM         MM
MMMM      MMMM  MM          MMMM        MM  MM         MM
MM  MM  MM  MM  MM          MM  MM      MM  MM         MM
MM    MM    MM  MMMMMM      MM    MM    MM  MM         MM
MM          MM  MM          MM      MM  MM  MM         MM
MM          MM  MM          MM        MMMM  MM         MM
MM          MM  MMMMMMMMMM  MM          MM    MMMMMMMMM
*/

.tableDiv{
  position: relative;
  border: solid black 2px;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
  margin: 1vh 0.5vw;
  height: 7vh;
  overflow: hidden;
  border-radius: 30px;
  /* transition : max-height 0.5s ease; */
}
table{
  position: relative;
  left: 0.5vw;
  padding: 10px;
  width: 19vw;
}
th,
td{
  padding: 2px;
  user-select: none;
}
#statsTable th,
#statsTable td{
  position: relative;
  left: -3vw;
}
#tableHaut{
  cursor: pointer;
}
#tableStatsHaut{
  cursor: pointer;
}
#tablePlayerHaut{
  cursor: pointer;
}
#tableTitle{
  padding: 0px;
  margin: 2vh 0px;
  text-align: center;
  user-select: none;
  font-weight: normal;
}
#tableStatsTitle{
  padding: 0px;
  margin: 2vh 0px;
  text-align: center;
  user-select: none;
  font-weight: normal;
}
#tablePlayerTitle{
  padding: 0px;
  margin: 2vh 0px;
  text-align: center;
  user-select: none;
  font-weight: normal;
}

.tableStatsStatsNames{
  text-align: right;
}
#loggedInterface{
  position: relative;
  border: solid black 2px;
  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
  padding: 10px;
  margin: 1vh 0.5vw;
  user-select: none;
}
#unlogButton{
  position: relative;
  border: solid black 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  backdrop-filter: blur(3px);
  background-color: rgba(255,250,250, 0.2);
  padding: 10px;
  width: 19vw;
  margin: 1vh 0.5vw;
  user-select: none;
}
#restartButton{
  position: relative;
  top: 0.3vw;
  left: 0.3vw;
  background: url('./image/logoRestart.png') center;
  background-size: 4.4vw;
  border: solid black 2px;
  width: 4.4vw;
  height: 4.4vw;
  border-radius: 5%;
  background-color: gray;
}
#fullscreenButton{
  position: relative;
  top: 0.3vw;
  left: 0.3vw;
  background-size: 4.4vw;
  border: solid black 2px;
  width: 4.4vw;
  height: 4.4vw;
  border-radius: 5%;
  padding: 0vh;
  background-color: gray;
}
#fullscreenImg{
  height: 4.2vw;
  top: 0.1vw;
  left: 0.1vw;
  user-select: none;
}
#muteButton{
  position: absolute;
  bottom: 0.5vw;
  left: 0.3vw;
  background-size: 4.4vw;
  border: solid black 2px;
  width: 4.4vw;
  height: 4.4vw;
  border-radius: 5%;
  padding: 0vh;
  background-color: gray;
}
#muteImg{
  height: 3.8vw;
  top: 0.3vw;
  left: 0.3vw;
  user-select: none;
}
#timerDemineur{
  color: black;
  position: relative;
  left: 0.3vw;
  top: 0.3vw;
  font-size: 3vh;
  border: solid black 2px;
  border-radius: 5%;
  backdrop-filter: blur(3px);
  height: 4vh;
  width: 4.4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0.01vh;
  text-align: center;
  user-select: none;
  background-color: gray;
}
#menuDiv{
  box-sizing: border-box;
  position: absolute;
  right: -20vw;
  top: 0vh;
  width: 25vw;
  height: 100%;
  background-color: rgb(107, 107, 107);
  gap: 0px 0px;
}
#menuPetitDiv{
  position: absolute;
  background-color: gray;
  display: inline-block;
  width: 5vw;
  height: 90%;
  top: 5%;
  left: 0px;
}
#menuPetitDiv .button:hover{
  background-color: rgb(143, 142, 142);
}
.button:hover > #menuPetitDiv{
  background-color: gray !important;
}
#arrowLeft{
  position: absolute;
  height: 5vh;
  top: 45%;
  left: -2vw;
  visibility: hidden;
  user-select: none;
}
#arrowRight{
  position: absolute;
  height: 5vh;
  top: 45%;
  right: -2vw;
  z-index: 11;
  visibility: hidden;
  user-select: none;
}
#menuPetitDiv.closed.hover:hover > #arrowLeft{
  visibility: visible;
}
#menuPetitDiv.open.hover:hover > #arrowRight{
  visibility: visible;
}
#menuLargeDiv{
  position: absolute;
  background-color: rgb(155, 154, 154);
  display: inline-block;
  width: 20vw;
  height: 90%;
  top: 5%;
  right: 0px;
  overflow: scroll;
}
#discord{
  position: absolute;
  bottom: 0.5vh;
  right: 1vh;
  height: 4vh;
  z-index: 20;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




















/* SCROLLBAR menuLargeDiv */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid transparent;
  }
  *::-webkit-scrollbar-corner{ 
    background: transparent;
  }









 